.container {
  width: 1440px;
  height: 40px;
  background-color: #d8bf95;
}
.title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #000;
  padding-top: 11px;
  padding-bottom: 11px;
}
.header {
  position: relative;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  list-style: none;
  gap: 260px;
  margin: 0;
  padding: 0;
}
.header-menu-link {
  font-size: 14px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.hero-image {
  width: 1440px;
  height: 624px;
}
.hero-container {
  display: flex;
}

.text-section {
  padding-top: 101px;
  padding-bottom: 102px;
}
.text-container {
  display: flex;
  gap: 314px;
}
.text-left {
  width: 892px;
  height: 256px;
  text-align: left;
  font-size: 64px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 67px;
}
.text-right {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 18px;
  text-align: right;
  width: 106px;
  height: 23px;
  margin: 61px;
}
.text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 67px;
  padding-top: 31px;
}
.product-section {
  padding-top: 90px;
  padding-bottom: 20px;
}
.product-container {
  display: flex;
  gap: 50px;
}

.product-right h2 {
  font-size: 44px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.product-right p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000000;
}
.book-section {
  padding-top: 89px;
  padding-bottom: 90px;
}
.book-container {
  display: flex;
}
.sustainable-section {
  padding-top: 90px;
  padding-bottom: 50px;
  margin: 64px;
}
.sustainable-container {
  display: flex;
  justify-content: space-between;
}
.sustainable-section h2 {
  width: 630px;
  height: 240px;
  text-align: left;
  font-size: 43px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.feature {
  flex: 1;
  text-align: center;
}

.feature img {
  padding-top: 84px;
  padding-bottom: 68px;
  width: 233px;
  height: 233px;
}

.feature-number {
  font-size: 36px;
  text-align: left;
  color: #000000;

  font-family: "Roboto", sans-serif;
}

.feature-description {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  gap: 20px;
  padding-bottom: 55px;
  padding-top: 72px;
}

.learn-more {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 120px;
  height: 23px;
  text-align: left;
}
