.container {
  width: 1440px;
  height: 40px;
  background-color: #d8bf95;
}
.title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #000;
  padding-top: 11px;
  padding-bottom: 11px;
}
.header {
  position: relative;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  list-style: none;
  gap: 260px;
  margin: 0;
  padding: 0;
}
.header-menu-link {
  font-size: 14px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.hero-image {
  width: 1440px;
  height: 624px;
}
.hero-container {
  display: flex;
}

.text-section {
  padding-top: 101px;
  padding-bottom: 102px;
}
.text-container {
  display: flex;
  gap: 314px;
}
.text-left {
  width: 892px;
  height: 256px;
  text-align: left;
  font-size: 64px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 67px;
}
.text-right {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 18px;
  text-align: right;
  width: 106px;
  height: 23px;
  margin: 61px;
}
.text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 67px;
  padding-top: 31px;
}
